<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="f-info-brand"> &copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <p>© 2024 Airbnb,Inc</p> -->
            <!-- <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> --> 


<footer class="text-center text-lg-start bg-body-tertiary text-muted footer">
    
    
    <section class="footer">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Wonderlust
            </h6>
            <p>
                "Elevate your travel experience - book your stay with us!"
            </p>
          </div>
         
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Our Services
            </h6>
            <p>
              <a class="text-reset service-info">24/7 Reception</a>
            </p>
            <p>
              <a class="text-reset service-info">Room Service</a>
            </p>
            <p>
              <a class="text-reset service-info">Complimentary Breakfast</a>
            </p>
            
          </div>
        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              
            </h6>
            <br>
            <p>
              <a href="#!" class="text-reset service-info">Housekeeping</a>
            </p>
            <p>
            </p>
              <a href="#!" class="text-reset service-info">Free Wi-Fi</a>
            </p>
            </p>
              <a href="#!" class="text-reset service-info">Event Spaces</a>
            </p>
            
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Delhi, NY 10012, INDIA</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@wonderlust.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91-1111000011</p>
            
          </div>
          
        </div>
        
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold service-info">wonderlust.com</a>
    </div>
    
  </footer>
